{% extends "adoption/base.html" %}
{% load django_bootstrap5 %}
{% block content %}
    {% if pet %}
        <div class="card mb-3 mx-auto">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center">
                    {% if pet.photo %}
                        <img src="{{ pet.photo.url }}"
                             alt="{{ pet }}"
                             class="card-img-top img-fluid rounded shadow">
                    {% else %}
                        <img src="https://placehold.co/800?text=placeholder&font=roboto"
                             alt="{{ pet.name }}"
                             class="img-fluid rounded shadow">
                    {% endif %}
                </div>
                <div class="col-md-8 ">
                    <div class="card-body">
                        <h5 class="card-title">{{ pet.name }}</h5>
                        <p>Description:</p>
                        <p class="card-text">{{ pet.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>No pet found.</p>
    {% endif %}
    <div class="container mt-4">
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% bootstrap_button button_type="submit" content="Submit" %}
        </form>
    </div>
{% endblock content %}
